:root {
    --calc-screen: #9dc183;
    --calc-border: #2a522c;
    --bg-color: #000000;
    --calc-body: #212121;
    --tester: #ffff00;
    --btn-operator: #ebd9c8;
    --btn-operator-border: #ddd;
    --btn-operator-hover: #facba3;
    --btn-operator-pressing: #b69f97;
    --btn-number: #bfbfbf;
    --btn-number-border: #a3a0a0;
    --btn-number-hover: #b4b1b1;
    --btn-number-pressing: #807d7d;
    --btn-equal: #fea02f;
    --btn-equal-text: #fff;
    --btn-equal-border: #c97e23;
    --btn-equal-hover: #de6600;
    --btn-equal-pressing: #c2620f;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
}

.calculator {
    background: var(--calc-body);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 15px; /* Reduced */
    width: 360px; /* Reduced */
    box-sizing: border-box;
}

#display {
    width: 100%;
    padding: 15px; /* Reduced */
    font-size: 45px; /* Reduced */
    border: 1px solid var(--calc-border);
    border-radius: 5px;
    text-align: right;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: var(--calc-screen);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 30px; /* Reduced */
    font-size: 16px; /* Reduced */
    border: 1px solid var(--btn-operator-border);
    border-radius: 5px;
    background-color: var(--btn-operator);
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-sizing: border-box;
    width: 100%;
    height: 90%; /* Adjusted */
}

button:hover {
    background-color: var(--btn-operator-hover);
}

.btn:active {
    background-color: var(--btn-operator-pressing);
}

.btn-number {
    background-color: var(--btn-number);
    border: 1px solid var(--btn-number-border);
}

.btn-number:hover {
    background-color: var(--btn-number-hover);
}

.btn-number:active {
    background-color: var(--btn-number-pressing);
}


.btn-equal {
    grid-column: 4;
    grid-row: span 3;
    background-color: var(--btn-equal);
    border: 1px solid var(--btn-equal-border);
    color: var(--btn-equal-text);
    padding: 32px; 
    height: 97%;
}

.btn-equal:hover {
    background-color: var(--btn-equal-hover);
}

.btn-equal:active {
    background-color: var(--btn-equal-pressing);
}