body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

.calculator {
    background: #212121;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 55px;
    border: 1px solid #3f7942;
    border-radius: 5px;
    text-align: right;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #9dc183;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 35px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ebd9c8;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-sizing: border-box;
    width: 100%; 
    height: 100%; 
}

button:hover {
    background-color: #facba3;
}

button:active {
    background-color: #ccc;
}

.btn-number {
    background-color: #bfbfbf;
}

.btn-number:hover {
    background-color: #909090;
}

.btn-zero {
    grid-column: span 2;
}

.btn-equal {
    grid-column: 4;
    grid-row: span 3;
    background-color: #fea02f;
    color: #fff;
    padding: 0; 
}

.btn-equal:hover {
    background-color: #de6600;
}
